* {
    box-sizing: border-box;
  }
body{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(192, 224, 224);
}
nav{
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 30px rgb(198, 198, 198);    
}
ul{
    overflow: hidden;  
    margin: 0;
    padding: 0;  
    display: flex;
}

li{ 
    list-style: none;
}

li a {  
    color: rgb(56, 176, 197);
    text-align: center;
    text-decoration: none;
    font-size: 2em;   
    display: block;   
    padding: 1rem;
}

li a:hover{
  color:rgb(192, 241, 241);
}


/*icons*/
.icon-links{
    margin-right: 20px;
}

/*hamburger button*/
button{
    position: absolute;
    top: 3rem;
    right: 2rem;
    width: 30%;
    background-color: white;
    border: none;
    display: none;
}
i{
    background-color: white;
    color: rgb(56, 176, 197);
    font-size: 2em;
}
i:hover{
    color:rgb(192, 241, 241);
}

/*logo*/
img{
    width: 200px;
}

/*setting stuff up for smaller screen size*/
@media  (max-width: 850px){
button{
    display: flex;
    justify-content:end;
}

.icon-links{
    display: none;
}

nav{     
    flex-direction: column;   
    align-items: flex-start;    
}

ul{  
    width: 100%;
    flex-direction: column;
}

ul a{
    color: black;
    padding: 1%;
    font-size: 1.5em;
}
ul a:hover{
    background: rgb(135, 196, 229);
    font-style: italic;
}

.links{
    display: none;
    width: 100%;
    
}

.links.active{
    display: flex;
    flex-direction: column;
}

}
